body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.app-card {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.app-card h1 {
    font-size: 42px;
    line-height: 1;
    letter-spacing: -1px;
}

.task-list {
  margin: 18px 0;
}

.pointer {
  cursor: pointer;
}
