<div class="app-card">
  <h1>AngularJS Demo</h1>
  <p>Menu items</p>
  <ul>
      <li ng-repeat="item in menuItems">
        <a ui-sref="{{item}}">{{item}}</a>
      </li>
  </ul>
  <h3>Enjoy coding!</h3>
</div>
