<div class="app-card">
  <div class="container">
    <ul ng-repeat="task in tasks" class="row task-list">
      <li>
        <input type="checkbox" name="{{task.name}}-{{$index}}-check" class="col  flex-unordered" ng-model="task.checked"/>
        <span class="col flex-unordered pointer" ng-click="task.checked = !task.checked">{{task.name}}</label>
      </li>
      </ul>
  </div>
  <div class="row justify-content-start">
    <input type="text" name="newTask" ng-model="newTaskName" placeholder="new task" />
    <button type="submit" ng-click="addTask(newTaskName)">Add task</button>
  </div>
</div>
